<script setup lang="ts">
import { useMainStore } from '@/scripts/store'
import { storeToRefs } from 'pinia'

const storeMain = useMainStore()
const { user } = storeToRefs(storeMain)
</script>

<template>
    <h1 class="text-3xl">Hi Laravel9! {{ user.data.name }}</h1>
    <router-view></router-view>
</template>
